<div class="container">
    <div class="row justify-content-end mt-3 mb-3 ">
        <div class="col-1">
            <button type="button" class="btn btn-success" routerLink="/pessoa">Cadastrar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOME</th>
                        <th scope="col">IDADE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Guilherme Abreu Vidal</td>
                        <td>19</td>
                    </tr>
                    @for (pessoa of pessoas; track pessoa.nome; let i = $index) {
                        <tr>
                            <th scope="row">{{ pessoa.id }}</th>
                            <td>
                                {{ pessoa.nome }}
                            </td>
                            <td>{{ pessoa.idade | number }}</td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="6" class="text-center text-uppercase fw-bold">Nenhuma pessoa cadastrada!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>